<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dodoz.cs.rmutt.canteenwallet">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rmutt"
        android:label="RMUTT-Canteen-Wallet"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="dodoz.cs.rmutt.canteenwallet.PayQrcode.PayQrcodeConfirmActivity"></activity>
        <activity android:name="dodoz.cs.rmutt.canteenwallet.PayQrcode.PayQrcodeCheckActivity" />
        <activity android:name="dodoz.cs.rmutt.canteenwallet.Transfer.TransferConfirmActivity" />
        <activity android:name="dodoz.cs.rmutt.canteenwallet.PayQrcode.PayQrcodeActivity" />
        <activity android:name="dodoz.cs.rmutt.canteenwallet.Transfer.TransferActivity" />
        <activity android:name="dodoz.cs.rmutt.canteenwallet.Login.RegisterActivity" />
        <activity android:name="dodoz.cs.rmutt.canteenwallet.MainActivity">

        </activity>
        <activity android:name="dodoz.cs.rmutt.canteenwallet.Login.VerifyActivity" />
        <activity android:name="dodoz.cs.rmutt.canteenwallet.Login.LoginActivity" />
        <activity android:name="dodoz.cs.rmutt.canteenwallet.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>